# Data Cleansing

## Importing Packages

In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

## Read the CSV data file

In [2]:
file_path = Path('./Data/Telco_customer_churn.xlsx')
telco_df = pd.read_excel(file_path, sheet_name=0)
telco_df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

## Inspecting and Cleansing the Data

In [3]:
# Shape of the dataset
telco_df.shape

(7043, 33)

In [4]:
# column names
telco_df.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

Removing following collumns since it does not add any new information for the machine learning models to learn from
or it is linearly dependent with other features

In [5]:
# Removing unwanted columns
telco_df.drop(['CustomerID', 'Count', 'Country', 'State', 'Lat Long', 'Latitude', 'Longitude', 'Churn Label', 'Churn Score', 'CLTV', 'Churn Reason'], axis=1, inplace=True)
telco_df.columns

Index(['City', 'Zip Code', 'Gender', 'Senior Citizen', 'Partner', 'Dependents',
       'Tenure Months', 'Phone Service', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn Value'],
      dtype='object')

Renaming columns for better reference

In [6]:
# Rename columns
telco_df.rename(columns={
    'City' : 'city',
    'Zip Code' : 'zip',
    'Gender' : 'gender',
    'Senior Citizen' : 'senior_citizen',
    'Partner' : 'partner',
    'Dependents' : 'dependents',
    'Tenure Months' : 'tenure',
    'Phone Service' : 'phone_service',
    'Multiple Lines' : 'multiple_lines',
    'Internet Service' : 'internet_service',
    'Online Security' : 'online_security',
    'Online Backup' : 'online_backup',
    'Device Protection' : 'device_protection',
    'Tech Support' : 'tech_support',
    'Streaming TV' : 'streaming_tv',
    'Streaming Movies' : 'streaming_movies',
    'Contract' : 'contract',
    'Paperless Billing' : 'paperless_billing',
    'Payment Method' : 'payment_method',
    'Monthly Charges' : 'monthly_charges',
    'Total Charges' : 'total_charges',
    'Churn Value' : 'churn'
}, inplace=True)

In [7]:
# Target class distribution
telco_df['churn'].value_counts()

0    5174
1    1869
Name: churn, dtype: int64

In [8]:
# Data types
telco_df.dtypes

city                  object
zip                    int64
gender                object
senior_citizen        object
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                  int64
dtype: object

"Total Charges" data type is incorrect which should be numeric. So further analysing needs

In [9]:
# checking empty values
telco_df.apply(lambda _x: _x == ' ').sum()

city                  0
zip                   0
gender                0
senior_citizen        0
partner               0
dependents            0
tenure                0
phone_service         0
multiple_lines        0
internet_service      0
online_security       0
online_backup         0
device_protection     0
tech_support          0
streaming_tv          0
streaming_movies      0
contract              0
paperless_billing     0
payment_method        0
monthly_charges       0
total_charges        11
churn                 0
dtype: int64

'Total Charges' column has 11 empty values

In [10]:
telco_df.loc[telco_df['total_charges'] == ' ']['churn'].value_counts()

0    11
Name: churn, dtype: int64

All the missing values are belongs to Negative class and it is the class that majority of samples belongs to, so that removing them

In [11]:
# Removing missing values
telco_df.drop(telco_df.loc[telco_df['total_charges'] == ' '].index, inplace=True)

In [12]:
# Checking null values
telco_df.isna().sum()

city                 0
zip                  0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [13]:
# Checking the data type again for total_charges
telco_df['total_charges'].dtype

dtype('O')

data type is still Object and so it is required to chage to float

In [14]:
telco_df['total_charges'] = telco_df['total_charges'].astype(float)
telco_df['total_charges'].dtype

dtype('float64')

In [15]:
# Checking negative values for all the numeric features
telco_df.apply(lambda _x: _x.dtype == float and _x < 0).sum()

0

In [16]:
# Checking a sample of the data
telco_df.sample(5)

,city,zip,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
3940,Campo Seco,95226,Male,No,Yes,No,58,Yes,Yes,DSL,...,Yes,No,Yes,Yes,Two year,Yes,Electronic check,86.10,4890.50,0
3661,Palmdale,93550,Male,No,No,No,68,No,No phone service,DSL,...,Yes,No,No,Yes,Month-to-month,Yes,Bank transfer (automatic),39.90,2796.35,0
4833,Lompoc,93436,Male,No,Yes,Yes,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),114.30,8058.55,0
6111,Mendota,93640,Female,No,Yes,No,23,Yes,No,DSL,...,No,Yes,Yes,No,One year,No,Bank transfer (automatic),60.00,1347.15,0
6928,Pomona,91768,Female,Yes,No,No,71,Yes,Yes,Fiber optic,...,No,Yes,Yes,No,One year,Yes,Credit card (automatic),99.65,7181.25,0

## Save the data as a CSV file

In [17]:
telco_df.to_csv('./Data/churn_data.csv', index=False)